body {
    font-family: Arial, sans-serif;
    border: none;
    padding: 0px;
    margin: 10px;
    color: white;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
img {
    margin: 50px auto auto auto;
    border-radius: 10%;
    display: inline-block;
    width: 550px;
    height: 250px;
}
img:hover{
    transform: scale(1.4)
}

.card {
    background-color:navy;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 340px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    opacity: 0.6;
    flex-direction: column;
}
.card-img {
    width: 70%;
    height: auto;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.container {
    padding: 2px 16px;
}
button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}
button:active{
    color:brown;
}
button:hover{
    background:none;
}

header {
    background: #333;
    color: #fff;
    gap: 20vw;
    text-align: center;
}
#contact{
    padding-top: 03%;
    padding-left: initial;  
}
nav ul {
    list-style: none;
}

    nav ul li {
        display: inline;
    }

nav a {
    color: #fff;
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
    }

main {
    padding: inherit;
}

section {
    margin: 20px 0;
    text-align: center;
}

.profile-pic {
    max-width: 300px;
    border-radius: 40%; /* Makes it circular */
    display: block;
    margin: 19px auto;
}
ul {
    list-style:none;
    padding:inherit;
}
table{
    padding-top: 5%;
}
th {
    background-color: silver;
    color: navy;
}
tr:hover {
    background-color: rgba(150, 212, 212, 0.4);
}

.projects {
    border: 1px solid #ccc;
    text-align: left;
}
p {
    background-color: none;
    margin: auto;
    padding: inherit;
}
h1 {
    margin:auto;
    padding: inherit;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: none;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

